@font-face {
  font-family: 'COCOGOOSE Regular';
  font-style: normal;
  font-weight: normal;
  src: local("COCOGOOSE Regular"), url("./fonts/cocogoose_trial.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

/* A HOVER SECTION */

a {
  color: #272a31;
  transition: 00.25s;
}

body {
  background-color: #f8f8f8;
  width: 100%;
}

footer {
  font-size: 0.8rem;
  padding: 20px 0;
}

footer .footer-logo {
  padding: 0 0.5vw 0 0;
  width: 30%;
}

footer .footer-info {
  text-align: right;
  width: 70%;
}

h2 {
  color: #ec5242;
  font-family: 'COCOGOOSE Regular', Helvetica, sans-serif;
  font-size: 2.5rem;
  line-height: 1.2em;
  margin-bottom: 0.1em;
  padding-bottom: 17.5px;
}

.littleLine {
  width: 5%;
  border: 1px solid #ec5242;
  margin-left: 47.5%;
  margin-right: 0;
  margin-bottom: 35px;
}

h3 {
  font-family: 'COCOGOOSE Regular', Helvetica, sans-serif;
  font-size: 1.33rem;
  margin-bottom: 0.5em;
}

h4 {
  color: #fff;
  font-size: 1.33rem;
  font-weight: 600;
  margin-bottom: 0.5em;
  padding-bottom: 5px;
  text-align: center;
}

.band-box h4 {
  color: #272a31;
  background: none;
  font-size: 1.1rem;
  margin: 0 0 20px 0;
  padding: 0;
  text-align: left;
  margin-bottom: 5px;
}

#about h4 {
  color: rgb(54, 51, 51);
  font-size: 1.33rem;
  font-weight: 600;
  margin-bottom: 2em;
  margin-top: 2em;
  padding-bottom: 5px;
  text-align: center;
}

.logo-about {
  margin-top: 170px;
  margin-bottom: 50px;
}

header {
  background-color: #fff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  z-index: 10;
}

html {
  color: #555;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

nav {
  background-color: rgba(39, 42, 50, 0.85);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 50%;
  z-index: 100;
}

nav a {
  background: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.33);
  color: #fff;
  display: block;
  font-size: 1.15rem;
  text-decoration: none;
  padding: 10px;
}

nav ul {
  list-style: none;
}

nav .active,
nav .active:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-weight: 600;
}

p {
  line-height: 1.5em;
  margin-bottom: 10px;
}

section {
  padding: 80px 0;
  width: 100%;
}

.box {
  background-color: #f8f8f8;
  border: 2px solid #fff;
  line-height: 1.5em;
  padding: 20px;
}

.box-white {
  background-color: #fff;
  border-color: #d3d3d3;
}

.breadcrumb {
  margin-bottom: 30px;
  text-align: right;
}

.breadcrumb .separator {
  color: #ec5242;
  font-size: 1.1rem;
  margin: 0 5px;
}

.seatChoose {
  background-color: #ec5242;
  color: #fff;
  font-weight: 600;
}

.seatChoose:hover {
  background-color: #fff;
  color: #ec5242;
}

.color-blue {
  color: #272a32;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 10px;
  width: 100%;
}

.container-header {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.logo1 {
  opacity: 1;
  transition: 0.25s;
}

.logo1:hover {
  opacity: 0.5;
  transition: 0.25s;
}

#about .logo1-big {
  width: 40%;
}

.mobile-menu-close {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  color: #fff;
  height: 74px;
  padding: 0 20px;
  width: 100%;
}

.mobile-menu-open {
  align-items: center;
  color: #3e3e3e;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  left: 0;
  position: absolute;
  height: 50px;
  width: 70px;
}

.main-logo {
  height: 50px;
  width: auto;
}

.nav-initial {
  left: -50%;
  transition: 0.25s;
}

.nav-active {
  left: -0;
  transition: 0.25s;
}

.program-box {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  color: #fff;
  display: flex;
  margin: 2px;
  padding: 15px;
  width: 100%;
  transition: 0.5s;
  column-gap: 10px;
  justify-content: space-between;
}

.program-box a {
  text-decoration: none;
  display: flex;
}

.program-box:hover {
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.5s;
}

.program-box i {
  width: 25%;
}

.program-box h3 {
  background: none;
  color: #ec5242;
  font-size: 0.9rem;
  padding: 0 0 0 7px;
  margin-bottom: 7px;
  text-align: left;
  width: 35%;
}

.program-box p {
  font-size: 0.8rem;
  line-height: 1.1rem;
  margin-bottom: 0;
  text-align: left;
  width: 50%;
}

.program-box .program-info {
  align-items: center;
  display: flex;
  width: 50%;
}

.text-end {
  text-align: right;
}

.tool-bar {
  display: none;
}

.tool-bar ul {
  list-style-type: none;
}

.band-box {
  display: flex;
  margin-bottom: 50px;
  width: 100%;
  column-gap: 10px;
}

.band-box p {
  font-size: 0.9rem;
  line-height: 1.2em;
  margin-bottom: 0;
  padding-top: 10px;
}

.band-box .category {
  color: #ec5242;
}

.band-box .band-image {
  width: 35%;
  margin-left: 10px;
}

.band-box .band-info {
  padding: 0 15.5px;
  width: 70%;
}

.band-image-background {
  background: url('images/guitar3.png');
  background-repeat: no-repeat;
  width: 100px;
  height: 70px;
  margin-bottom: -45px;
  margin-left: -30px;
  z-index: -1000;
}

#about {
  background: url('images/about-background2.jpg') no-repeat;
  padding: 90px 0;
  text-align: center;
  display: flex;
}

#about .box {
  margin-bottom: 20px;
}

.past-editions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
}

.past-editions .edition2018 {
  background-image: url("images/concert20.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 350px;
  max-width: 45%;
  height: 200px;
  padding: 10px;
  margin: 10px;
}

.past-editions .edition2019 {
  background-image: url("images/concert22.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 350px;
  max-width: 45%;
  height: 200px;
  margin: 10px;
}

.past-editions img {
  width: 40%;
  height: auto;
}

#cover {
  align-items: center;
  background-image: url('images/fugados-background2.jpg');
  background-size: cover;
  min-height: 100vh;
  padding: 90px 0;
  display: flex;
}

#cover h3 {
  font-size: 1.2rem;
}

#cover p {
  font-size: 1rem;
  font-weight: 600;
}

#cover .box {
  margin-bottom: 20px;
}

#list-program {
  display: block;
}

#sponsors {
  background-color: #414246;
}

#sponsors #list-sponsors {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#program {
  background-image: url(images/program-background.jpg);
  text-align: center;
}

a:hover {
  color: #ec5242;
  text-decoration: none;
  transition: 0.25s;
}

nav a:hover {
  background-color: rgba(236, 82, 66, 0.5);
  color: #fff;
}

#list-sponsors a {
  margin: 5px 2%;
  width: 46%;
}

#program a {
  color: #fff;
}

.footer-logo img {
  width: 100%;
}

.band-image img {
  height: auto;
  width: 100%;
}

#cover img {
  height: auto;
  margin-bottom: 15px;
  width: 100%;
}

#list-sponsors img {
  opacity: 0.25;
  transition: 0.5s;
  width: 100%;
}

#list-sponsors img:hover {
  opacity: 1;
  transition: 0.5s;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* XXXXXXXXXXXXXXXXXXXXXXXX DESKTOP VERSION XXXXXXXXXXXXXXXXXXXXXXXX */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (min-width: 768px) {
  footer {
    padding: 60px 0;
  }

  footer .footer-logo {
    padding: 0 3vw 0 0;
    width: 25%;
  }

  footer .footer-info {
    width: 75%;
  }

  h2 {
    font-size: 2rem;
  }

  nav {
    background: none;
    display: block;
    height: auto;
    position: inherit;
    width: 100%;
    text-align: right;
  }

  nav a {
    background: none;
    border: none;
    color: #272a31;
    font-size: 1rem;
    margin-left: 3vw;
    display: inline-block;
    padding: 0;
    text-decoration: none;
  }

  nav li {
    display: inline-block;
  }

  nav .active,
  nav .active:hover {
    background: none;
    color: #ec5242;
    font-weight: 600;
  }

  .seatChoose {
    background-color: #fff;
    border: 3px solid #ec5242;
    color: #ec5242;
    font-weight: 600;
    padding: 5px 9px;
  }

  .seatChoose:hover {
    background-color: #fff;
    color: #ec5242;
  }

  .container-header {
    align-items: center;
    display: flex;
    padding: 10px;
  }

  .mobile-menu-close,
  .mobile-menu-open {
    display: none;
  }

  .nav-initial {
    display: block;
  }

  .tool-bar {
    background-color: #3e3e3e;
    display: block;
    font-size: 0.9rem;
    padding: 7.5px 0;
    width: 100%;
  }

  .tool-bar a {
    color: #fff;
    margin-left: 1vw;
    text-decoration: none;
  }

  .tool-bar li {
    display: inline-block;
  }

  .program-box a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  nav a:hover {
    background: none;
    color: #ec5242;
  }

  .program-box {
    display: block;
    width: 20%;
  }

  .program-box h3 {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }

  .program-box .icono {
    margin-bottom: 20px;
    width: 60px;
    height: auto;
  }

  .program-box p {
    text-align: center;
    width: 100%;
  }

  .band-box {
    width: 50%;
  }

  .band-box h4 {
    font-size: 1.1rem;
  }

  .band-box p {
    font-size: 0.8rem;
  }

  .tool-bar a:hover {
    color: #d3d3d3;
  }

  #about {
    padding: 120px 0 90px 0;
  }

  #about .box {
    margin: 0 auto;
    width: 60%;
  }

  #cover {
    background: url('images/fugados-background2.jpg') no-repeat center center;
    padding: 120px 0 0 0;
    min-height: 100vh;
  }

  #cover img {
    width: 75%;
  }

  #cover p {
    font-size: 1.25rem;
  }

  #cover .box {
    width: 60%;
  }

  #list-program {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  #list-bands {
    display: flex;
    flex-wrap: wrap;
  }

  #sponsors #list-sponsors {
    align-items: center;
    flex-wrap: nowrap;
  }

  #sponsors #list-sponsors a {
    width: 20%;
    text-align: center;
  }

  #sponsors #list-sponsors img {
    margin: 0;
    padding: 0;
  }
}
